{
	"extends": ["react-app", "eslint:recommended", "prettier"],
	"env": {
		"es6": true
	},
	"rules": {
		"no-var": "error", 
		"no-multiple-empty-lines": "error",
		"no-console": ["warn", { "allow": ["warn", "error", "info"] }],
		"eqeqeq": "error", 
		"dot-notation": "error",
		"no-unused-vars": "warn", 
		"react-hooks/exhaustive-deps": "off",
		"@typescript-eslint/no-unused-vars": "off",
		"@typescript-eslint/consistent-type-definitions": "off",
		"@typescript-eslint/array-type": "off",
		"@typescript-eslint/explicit-function-return-type": "off",
		"@typescript-eslint/strict-boolean-expressions": "off",
		"@typescript-eslint/restrict-template-expressions": "off",
		"@typescript-eslint/no-floating-promises": "off",
		"@typescript-eslint/consistent-indexed-object-style": "off",
		"@typescript-eslint/no-misused-promises": "off"
	}
}
